/* You can add global styles to this file, and also import other style files */
body{
    background-color: #fcfbf7;
    margin: 0;
    padding: 0;
}

p{
    font-family: "Source Sans 3",
    system-ui,
    sans-serif;
}

h2{
    font-family: "Playfair Display",
    Georgia,
    "Times New Roman",
    serif;

}