/* You can add global styles to this file, and also import other style files */
:root {
    --nav-height: 12vh;
    --nav-margin: 0;

    @media (max-width: 991px) {
        --nav-height: 4.25rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: clip;
}

body {
    background-color: #fcfbf7;
    margin: 0;
    padding: 0;
    overflow-x: clip;
}

p{
    font-family: "Source Sans 3",
    system-ui,
    sans-serif;
}

h2{
    font-family: "Playfair Display",
    Georgia,
    "Times New Roman",
    serif;

}